# This file contains common pin mappings for the Fysetc Cheetah V3.0 on an Ender 3

# Rename "klipper.bin" to "firmware.bin", copy to Sdcard and insert in motherboard

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/ #PUT SERIAL ID OF BOARD HERE

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 5000
max_z_velocity: 5
max_z_accel: 1000


[include mainsail.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#####################################################################
#   Board Temperatures
#####################################################################

[temperature_sensor MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#####################################################################
#   X Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC0
dir_pin: PC1                                                       # Check motor direction in link above. If inverted, remove ! before PC1
enable_pin: !PC3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                       # Set to 400 for 0.9�?degree stepper motor, 200 is for 1.8�?stepper motors
endstop_pin: ^PA2                                                  # Enable if using Switch based homing - Disable if not. 

##--------------------------------------------------------------------
homing_speed: 20   #Max 100
homing_retract_dist: 5
homing_positive_dir: true
position_endstop: 235
position_max: 235
##--------------------------------------------------------------------

[tmc2209 stepper_x]
uart_pin: PB3
#tx_pin: PA2
uart_address: 0
interpolate: False
run_current: 0.9
sense_resistor: 0.220
stealthchop_threshold: 999999                                       # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle                                                # this is set to 60 which is the MAX sensitivity for sensorless homing, you will need to tune this later

#####################################################################
#   Y Stepper Settings
#####################################################################

[stepper_y]
step_pin: PC14
dir_pin: PC13                                                       # Check motor direction in link above. If inverted, remove ! before PC13
enable_pin: !PC15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9 degree stepper motor, 200 is for 1.8 degree stepper motors
endstop_pin: ^PA3                                                   # Enable if using Switch based homing - Disable if not.

##--------------------------------------------------------------------
homing_speed: 20   #Max 100
homing_retract_dist: 5
homing_positive_dir: true
position_endstop: 235
position_max: 235
##--------------------------------------------------------------------

[tmc2209 stepper_y]
uart_pin: PB3
#tx_pin: PA2
uart_address: 1
interpolate: False
run_current: 0.9                                                    # This may need tuning depending upon the motors you are using
sense_resistor: 0.220
stealthchop_threshold: 999999                                       # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB4
dir_pin: PB5	                                                    # Remove the ! before PB8 if motor direction is inverted.
enable_pin: !PC2
rotation_distance: 8                                                # For T8x8 lead screw
microsteps: 16
endstop_pin: ^PC4
#position_endstop = 0.345
position_max: 120
position_min: -3.0
homing_speed: 20
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PB3
#tx_pin: PA2
uart_address: 2
interpolate: False
# For FYSETC 42HSC1404B-200N8
run_current: 0.6                                                     # This may need tuning depending upon the motors you are using

sense_resistor: 0.220
stealthchop_threshold: 999999                                        # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#####################################################################
#   Extruder
#####################################################################
[extruder]
step_pin: PB2
dir_pin: !PA15
enable_pin: !PD2
rotation_distance: 33.500
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
#pid_kp: 21.527
#pid_ki: 1.063
#pid_kd: 108.982
min_temp: -273.15
max_temp: 500

[tmc2209 extruder]
uart_pin: PB3
#tx_pin: PA2
uart_address: 3
run_current: 0.800
interpolate: false
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC8
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950 
sensor_pin: PB0
smooth_time: 3.0
#max_power: 0.6                                                      # Only needed for 100w pads
min_temp: -120
max_temp: 120
#control: pid                                                         # Do PID calibration after initial checks
#pid_kp: 68.453
#pid_ki: 2.749
#pid_kd: 426.122

#####################################################################
# Fan Control
#####################################################################

[heater_fan heatbrake_fan]
# Hotend Fan (HEF): FAN1 Connector
pin: PA14
max_power: 1.0
kick_start_time: 3
heater: extruder
heater_temp: 50.0
fan_speed: 1.0                                                      # You can't PWM the delta fan unless using blue wire

[fan]
# Print Cooling Fan (PCF): FAN0 Connector
pin: PA13
max_power: 1.0
kick_start_time: 0.5                                                 # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

# MCU Controller Fan: FAN2
[controller_fan MCU_fan]
pin: PA8
max_power: 1.0
kick_start_time: 0.5
heater: extruder
#fan_speed: 1.0 

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: 120,120                                           # these coordinates must NOT be greater than the values specified in "position_max:" for the X and Y steppers
speed: 50.0
z_hop: 5


# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute


[pause_resume]

[display_status]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(230) %}      #edit to your park position
    {% set y = params.Y|default(230) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{e} F2100
    G1 Z{z_safe}
    G90
    G1 X{x} Y{y} F6000


[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    ##### set defaults #####
    {% set e = params.E|default(1) %} #edit to your retract length
    G91
    G1 E{e} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

################################################################################
################################################################################


[gcode_macro PRINT_START]
gcode:
    # Use absolute coordinates
    G90
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear
    SET_SKEW CLEAR=1






[board_pins]
aliases:
    # EXP1 header
    EXP1_1=<5V>,  EXP1_3=<RST>, EXP1_5=PA7,  EXP1_7=PA4,  EXP1_9=PA5,
    EXP1_2=<GND>, EXP1_4=PC3,   EXP1_6=PC11, EXP1_8=PC10, EXP1_10=PA6,

    # EXP2 header
    EXP2_1=<5V>,  EXP2_3=PB7, EXP2_5=PB14, EXP2_7=PB12, EXP2_9=PC12,
    EXP2_2=<GND>, EXP2_4=PB6, EXP2_6=PB13, EXP2_8=PB15, EXP2_10=PC9,

    # EXP3 header
    EXP3_1=PC9,  EXP3_3=PC10, EXP3_5=PC11, EXP3_7=PB12, EXP3_9=<GND>,
    EXP3_2=PC12, EXP3_4=PB14, EXP3_6=PB13, EXP3_8=PB15, EXP3_10=<5V>
    # Pins EXP1_4, EXP1_8, EXP1_6 are also MISO, MOSI, SCK of bus "spi2"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.793
#*# pid_ki = 1.503
#*# pid_kd = 102.271
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.852
#*# pid_ki = 1.687
#*# pid_kd = 765.226
